.projects-container-new {
  min-height: 0vh;
  background: white;
  padding: 2rem;
  font-family: Arial, sans-serif;
}

.projects-title {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #004d40;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.project-card {
  padding: 0px 65px 4px 0px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  max-width: 1079px;
  margin: 0 auto;
}

.project-image-container {
  width: 100%;
  height: 483px;
  overflow: hidden;
}

.project-image {
  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;
  border-radius: 27px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-content {
  padding: 0.5rem;
  text-align: center;
}

.project-subtitle {
  font-family: Arial, Helvetica, sans-serif;
  color: #004d40;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0rem;
}

.project-description {
  font-size: 17px;
  color: #333;
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
  .project-card {
    padding: 27px 23px 4px 23px;
  }
  .projects-container-new {
    min-height: 68vh;
  }
  .projects-title {
  margin-bottom: -4rem;

    font-size: 29px;
  }

  .project-subtitle {
    font-size: 1.25rem;
  }

  .project-image-container {
    height: 300px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .projects-container-new {
    min-height: 71vh;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .projects-container-new {
    min-height: 61vh;
  }
  }

@media (min-width: 2560px) and (max-width: 2719px) {
  .projects-container-new {
    min-height: 61vh;
   
  }
}

@media (max-width: 1496px) {
  .responsive{
     margin-top: -130px;
  }
  }
  @media screen and (max-width: 1366px) and (max-height: 768px) {
   
    .responsive{
      /* margin-top: 130rem; */
   }
  }